body {
background-color: skyblue;
}

.first-page-box{
  height: 30vh;
  width: 40vh;
  background-color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  top:50%;
  left:50%;
  text-align: center;
}

.header{
  color: skyblue;
  padding: 5px;
  text-align: left;
}

input{
  width: 90%;
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

::placeholder{
  color: #ccc;
}

h5 {
  display: flex;
  flex-direction: row;
}

h5:before,
h5:after {
    content: "";
    flex: 0.4 0.4;
    border-bottom: 2px solid #ccc;
    margin: auto;
}

.btn{
  width: 90%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  background-color: skyblue;
  margin: 10px 0;
}

.btn:hover{
  background: rgb(69, 69, 139);
  transition: 0.3s;
}


.second-page-box{
  height: 47vh;
  width: 40vh;
  background-color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  top:50%;
  left:50%;
  text-align: center;
}

.img{
  height: 40%;
  width: 40%;
  padding-top: 7px;
}

.location img{
  height: 5%;
  width: 5%;
}

img{
  height: 20%;
  width: 20%;
}

.temp{
  font-size: 30px;
  font-weight: 600;
}

.weather{
  font-size: 19px;
  text-align: center;
  /* margin: -5px 20px 15px;; */
  padding:3px;
}

.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
}  



.flex-child:first-child {
  margin-right: 20px;
} 

.v1 {
  border: 2px solid #ccc;
  height: 60px;
  position: absolute;
  left: 50%;
  margin-top:95%;
  margin-left: -3px;
  top: 0;
}



